In [4]:
%matplotlib inline

import pandas as pd
import gc
import matplotlib.pyplot as plt
import seaborn as sb
from fastai.imports import *
# from fastai.structured import *
from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display
from sklearn import metrics

In [5]:
df = pd.read_csv('bank-marketing/bank-additional-full.csv', sep=';')

In [6]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [7]:
df.shape

(41188, 21)

In [19]:
X_df = df.drop('y', axis=1)
y_df = pd.DataFrame(df['y'])

         y
0       no
1       no
2       no
3       no
4       no
5       no
6       no
7       no
8       no
9       no
10      no
11      no
12      no
13      no
14      no
15      no
16      no
17      no
18      no
19      no
20      no
21      no
22      no
23      no
24      no
25      no
26      no
27      no
28      no
29      no
...    ...
41158  yes
41159  yes
41160  yes
41161   no
41162   no
41163  yes
41164  yes
41165  yes
41166  yes
41167   no
41168   no
41169   no
41170   no
41171  yes
41172  yes
41173  yes
41174  yes
41175   no
41176   no
41177   no
41178  yes
41179   no
41180   no
41181  yes
41182   no
41183  yes
41184   no
41185   no
41186  yes
41187   no

[41188 rows x 1 columns]

In [11]:
??DataFrameSummary